/* style of backgorund cover */
/* z-index : Because the image has a z-index of -1, 
it will be placed behind the heading. 
text-align: in center positon */

/* There are five different position values:
    static :positioned according to the normal flow of the page.
    relative :  relative to its normal position.
    fixed :positioned relative to the viewport, w
    hich means it always stays in the same place even if the page is scrolled:

    absolute(V) : An element with position: absolute; is positioned relative to the nearest positioned ancestor.
    sticky: on the user's scroll position.
    
    
    */

/* default style  */

body{
    font-size: 14px;
    color: #3d3d3d;
    background-color: #fff;
    letter-spacing: 1px;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
}

.slides-navigation{
    z-index: 6;
}


.slides-navigation .prev, 
.slides-navigation .next{
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;

}

.slides-navigation a.prev{
    left:20px;
    background-image: url(../icon/leftpng.png);

}

.slides-navigation a.next{

    right:20px;
    background-image: url(../icon/right.png);
    
}

.titleMessage{

    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;

}

.titleMessage .heading p{
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.6);
    letter-spacing: 7px;
    font-weight: 100;
    text-shadow: rgba(255, 255, 255, 0.3);
}

.titleMessage .heading .main{
    font-size: 38px;
}

.titleMessage .heading .sub{
    font-size: 22px;
}


/* padding 100px top 0 bottom 100px left 0 right
new space for web  padding  */
.section{
    padding: 100px 0 100px 0;
}

/* resize the img */
.aboutImg{
    max-width: 100%;
    border: 5px solid rgb(75, 75, 75);
    border-radius: 20px;
}

/* skill section  */

.skillsSection{
    background-color: #fab0a096;
    color: #fff;

}

.contactSection{
    margin-top: 100px;
    background-color: #fab0a096;
    color: #fff;

}

.skill{
    text-align: center;
    margin-left: 10px;
}

.chart{
    position:relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;

}

.chart canvas{
    position: absolute;
    left: 0;
    right: 0;

}

.chart .percent{
    color: #545252d3;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;

}

.chart .percent::after{
    content: '%';
}

.squareItem{
    margin-top: 30px;
    position: relative;
}

.squareInnerContainer{

    
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border:2px solid #5f5e5eca;
    border-top: none;
    
    
}

.squareInnerContainer:before,
.squareInnerContainer:after{
    content: '';
    position: absolute;
    top:0px;
    width: 60px;
    border-bottom: 2px solid #5f5e5eca;
}

.squareInnerContainer:before{
    right: 0px;

}

.squareInnerContainer:after{
    left: 0px;

}

.squareContent h2{

    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #3c3b3bd3;

}

.squareContent h3{
 
    font-size: 13px;
    font-weight: 600;
    margin: 0;

    color: #575555b7;
    
}

.squareIcon{
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #524f4f;

}

.contactButton{
    color: #fff;
    margin-top: 20px;
    padding: 15px 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.contactButton:hover{
    text-decoration: none;
    color: #524f4f;
    background-color: #fff;
}

.subText{
    margin-bottom: 60px;
}


.filter li{
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    padding: 5px;
    
}
.filter a{
    color: #524f4f;
    border: 1px solid #524f4f;
    padding: 10px 18px;
    display: block;
    text-decoration: none;
    border-radius: 20px;
}

.filter .current {
    background-color: #fab0a096;
    border-color: #fab0a096;
    color: #524f4f;
   
   
}

.filter{
    text-align: center;
    width: 100%;

}

.section .heading{
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
}

.itemsContainer{
    margin: 100px;
    gap: 25px;
}


/* fixed the container of projects */
.img-container{
    width: 300px;
    height: 300px;
    position: absolute;
    overflow: hidden;
    display: flex
    


}

.project-img{
    width: 100%;
    height: 250px;
    object-fit: cover;

}



 .items li {
    display: flex;
    padding: 10px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgb(75, 75, 75);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    
}
.items{
    justify-content: center;
    align-items: center;
}

.items li img{

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item{
    position: relative;
    display: block;
    overflow: hidden;
}

/* icons */

.icons{
    position: absolute;
    width: 90px;
    height: 40px;
    left:50%;
    top:50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
    color: #fff;
    font-size: 20px;
    margin-top: 9px;
}

.items a{
    width: 40px;
    height: 40px;
    background-color: #fab0a096;
    position: relative;
    display: inline-block;


    -webkit-transition: all 0.2s linear, 0.2s;
    -moz-transition: all 0.2s linear, 0.2s;
    -o-transition: all 0.2s linear, 0.2s;
    -ms-transition: all 0.2s linear, 0.2s;
    -transition: all 0.2s linear, 0.2s;
}






/* .items .imageOverlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
} */

.items .item:hover .imageOverlay{
    opacity: 1;
}

.items .openButton{
    float: left;
    left: -200px;

}

.items .projectLink{
    float: right;
    right: -200px;
    
}

.items .item:hover .openButton{

    left:0px;

}

.items .item:hover .projectLink{
    right: 0px;

}

.items .item:hover img{
    -webkit-transform: scale(1.05 , 1.05);
    -moz-transform: scale(1.05 , 1.05);
    -o-transform: scale(1.05 , 1.05);
    -ms-transform: scale(1.05 , 1.05);
    -transform: scale(1.05 , 1.05);
}

.items{
    padding: 0;
}

.copyrightSection{
    background-color: #fab0a096;
    color: #524f4fbf;
    padding: 30px 5px;

}

.copyrightSection p{
    margin: 0;
}

#navigation{
    background-color: #fab0a065;
    padding: 20px 10px;
    z-index: 100;
    width: 100%;
    
}

#navigation li{  
    padding: 0 10px;
}

#navigation li a {
    color: #524f4fcf;
}

.naver-brand, .naver-brand:hover{
    color: #524f4fe5;
}



.navbar-toggler-icon{
    background: url(../icon/next.png);
    background-size: 100%;
}

.fixedNav #navigation{
    position: fixed;
    top:0;
}

.loader{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top:0px;
    left: 0px;
    z-index: 1000;
}

.loader .inner{
    width: 100%;
    height: 100%;
    background: url(../icon/loading.gif) center center no-repeat;

}
/* footer */
#states{
    padding-bottom: 0;
}